<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%C{35}] [%M] [%L] %m %n</pattern>
		</encoder>
	</appender>
	
	<appender name="file_transfer" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>C:/logs/file_transfer</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>C:/logs/file_transfer.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>1000</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%C{35}] [%M] [%L] %m %n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="file_transfer"/>
		<appender-ref ref="stdout" />
	</root>
</configuration>